body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-logo {
  max-width: 100%;
  height: auto;
}

.about-container {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
  padding: 0 20px;
}

.icon-logo {
  width: 80px;
  margin-bottom: 20px;
}
