body {
   margin: 0;
  font-family: 'Clarkson', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #949494;
  color: #000;
}

.full-logo {
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInZoom 2.2s ease-out forwards;
}

@keyframes fadeInZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.full-logo {
  max-width: 100%;
  height: auto;
}

.about-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  text-align: left;
}

.about-container {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
  padding: 0 20px;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: 100%;
}

.icon-logo {
  width: 248px;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px 0 20px 0;
  font-family: 'Clarkson', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 4px;
  color: #5a5a5a; /* darker gray for better visibility */
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link.active {
  color: #1e1e1e;
}

.about-text p {
  margin: 5px 0;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 300;
  line-height: 1.6;
  text-transform: uppercase;
  color: #000;
}

@media screen and (max-width: 768px) {
  .about-layout {
    flex-direction: column;
    text-align: center;
    gap: 20px;
   .center-wrapper {
    height: calc(100vh - 60px);
}
  }

  .icon-logo {
    width: 120px;
  }

  .about-text h1 {
    font-size: 16px;
    letter-spacing: 3px;
  }

  .about-text p {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.4;
  }

.icon-logo {
  opacity: 0;
  animation: fadeInIcon 2.5s ease-out forwards;
}

@keyframes fadeInIcon {
  to {
    opacity: 1;
  }
}   
   
}
